<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
      crossorigin="anonymous"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/css/style.css" />
    <title>SteamedHams</title>
  </head>

  <body>
    <header class="inner">
      <h2><i class="fab fa-steam-square"></i>
        SteamedHams</h2>
      <nav>
        {{#if logged_in}}
          <ul>
            <li>
              <a class="btn btn-reverse" href="/" role="button">Home</a>
            </li>
            <li>
              <a class="btn btn-reverse" href="/games" role="button">All Games</a>
            </li>
            <li>
              <button
                class="btn btn-reverse"
                type="importGames"
                id="importGames"
              >Import Games</button>
            </li>
            <li>
              <a class="btn btn-reverse" href="/" role="button" id="logout">Logout</a>
            </li>

          </ul>
        {{else}}

          <a class="btn btn-reverse" href="/login" role="button" id="login">Login</a>
        {{/if}}
      </nav>
    </header>
    <div class="image">
    <div class="container">
      {{{body}}}
    </div>
    </div>

    {{#if logged_in}}
      <script src="/js/logout.js"></script>
      <script src="/js/importGames.js"></script>
      <script src="/js/randomGame.js"></script>
    {{/if}}
  </body>

</html>