
<section id="search" class="search-wrap">
    <h1>Find A Game You Have Played!</h1>
    <form action="/games/search" class="search-form">
      <i class="fas fa-search"></i>
      <input type="search" name="term" placeholder="Search Steam...">
      <input type="submit" value="form-control">
    </form>
  </section>